[submodule "kernel"]
	path = kernel
	url = https://github.com/hermit-os/kernel.git
[submodule "doomgeneric"]
	path = doomgeneric
	url = https://github.com/ozkl/doomgeneric.git
[submodule "kernel-fork"]
	path = kernel-fork
	url = git@github.com:GloriousAlpaca/kernel-vga-addition.git
